{% extends "admin_base.html" %}

{% block content %}
<script>
function addField() {
  field = `<div class="field is-horizontal">
      <div class="field-label">
        <label class="label">New Category Name:</label>
      </div>
      <div class="field-body">
        <div class="control">
          <input type='text' name="new_category_name" placeholder="New Category Name" />
        </div>
      </div>
    </div>`

  field_span = document.getElementById('add_new')
  field_span.innerHTML = field

  var button = document.querySelector('#add_button');
  var cat_dropdown = document.querySelector('#cat_dropdown')
  button.style.display = 'none';
  cat_dropdown.style.display = 'none';
};
</script>

<div class="content">
  <h1>{% if not reward_program %} New Reward Program {% else %}{{reward_program.program_name}}{% endif %}</h1>
  <form class='form' action="" method="post">
    {{form.hidden_tag()}}
    <div id="cat_dropdown" class="field is-horizontal">
      <div class="field-label">
        <label class="label">{{form.category_name.label}}:</label>
      </div>
      <div class="field-body">
        <div class="control">
          {{form.category_name}}
        </div>
      </div>
    </div>
    <button id="add_button" class="button is-primary is-small is-outlined" type="button" onClick="addField()">Add New Category</button>
    <span id="add_new"></span>
    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">{{form.program_name.label}}:</label>
      </div>
      <div class="field-body">
        <div class="control">
          {{form.program_name}}
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">{{form.company_name.label}}:</label>
      </div>
      <div class="field-body">
        <div class="control">
          {{form.company_name}}
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">{{form.redeem_value.label}}:</label>
      </div>
      <div class="field-body">
        <div class="control">
          {{form.redeem_value}}
        </div>
      </div>
    </div>
        <button class="button is-success" type="submit">Submit</button>
  </form>
</div>
{% endblock %}
