{% extends "admin_base.html" %}

{% block content %}
<script>
function addForm() {
  form = `<form class="form level" action="{{url_for('admin_spending_category')}}" method="post">
  <div class="level-left">
      <div class="field is-horizontal level-item">
      <div class="field-label">
        <label class="label">Category Name:</label>
      </div>
      <div class="field-body">
        <div class="control">
          <input type='text' name="name" placeholder="New Category Name" />
        </div>
      </div>
    </div>
        <button class="button is-success is-small level-item" type="submit">Submit</button>
    </div>
  </form>`

  form_span = document.getElementById('form_span')
  form_span.innerHTML = form
};
</script>



  <div class="content">
    <div class="level">
      <div class="level-left">
        <span class="level-item"><h1>Spending Categories</h1></span>
        <span class="level-item"><button class="button is-primary is-small" type="button" onClick="addForm()">Add New Category</button></span>
      </div>
    </div>
    <span id='form_span'></span>
    {% for category in categories %}
    <div class="level">
      <span class="level-left">
        <div class="level-item">
          <p>{{category.name}}</p>
        </div>
      </span>
      <span class="level-right">
        <div class="level-item">
          <button class="button is-primary is-small" type="button" onClick="location.href='{{url_for('admin_spending_category', spending_category_id=category.id)}}'">Edit Category</button>
        </div>
      </span>
    </div>
    {% endfor %}
  </div>


{% endblock %}
