{% extends "admin_base.html" %}

{% block body %}
  <h1>{{card.name}}</h1>
  <p>Card Type: {{card.card_type|title}}</p>
  <p>Points Program: {{card.points_program.name}}</p>
  <p>Point Value: {{card.points_program.value}}</p>
  <h3>Sign Up Bonus</h3>
  <p>Points: {{reward.bonus_points}}</p>
  <p>Min Spend: {{reward.minimum_spend}}</p>
  <p>Days to Min Spend: {{reward.days_for_spend}}</p>
  <h3>Spending Categories</h3>
  {% for category in spending_categories %}
    <p>{{category[0]}} - {{category[1]}}</p>

  {% endfor %}
  <h3>Comments</h3>
{% endblock %}
