<html>
    <head>
      <title>Welcome to Card Tracker!</title>
      <link rel="stylesheet" href="/static/css/bulma.css">
      <link rel="stylesheet" href="/static/css/font-awesome.min.css">
      <link rel="icon" href="/static/img/ct_logo.png" />
      <link rel="apple-touch-icon" sizes="144x144" href="/static/img/ct_logo.png" />
      <link rel="apple-touch-icon" sizes="114x114" href="/static/img/ct_logo.png" />
      <script src="/static/js/jquery-3.2.1.min.js"></script>
      <script src="/static/js/jquery-ui.min.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <script>
  $(document).ready(function() {
    $(".navbar-burger").click(function() {
      $(".navbar-burger").toggleClass('is-active')
      $(".navbar-menu").toggleClass('is-active')
    })
  })
</script>
    </head>
    <body>
        <div class="columns is-centered is-mobile">
            <div class="column is-two_thirds" style="max-width:900;">
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>
