{% extends "internal_base.html" %}

{% block content %}
  <h1>{{reward.card.name}}</h1>
  <p>Card Type: {{reward.card.card_type}}</p>
  <p>Points Program: {{reward.points_program.name}}</p>
  <p>Point Value: {{reward.points_program.value}}</p>
  <h3>Sign Up Bonus</h3>
  <p>Points: {{reward.bonus_points}}</p>
  <p>Min Spend: {{reward.minimum_spend}}</p>
  <p>Days to Min Spend: {{reward.days_for_spend}}</p>
  <h3>Spending Categories</h3>
  {% for category in spending_categories %}
    <p>{{category[0]}} - {{category[1]}}</p>
  {% endfor %}
{% endblock %}
