{% extends "external_base.html" %}

{% block content %}
    <h1 class="title">What is CrdTrckr?</h1>
    <p>
        CrdTrckr was developed as a way for you to track your credit cards to make ensure you are meeting the minimum spend for your sign up bonuses and avoid annual fees for the cards you have signed up for.
    </p>
    <br />

    <h1 class="title">Why CrdTrckr?</h1>
    <p>
        On our journey to amassing 1,000,000 Chase Ultimate Rewards points, we developed several processes to let us keep track of our progress and all the cards we had on hand.  CrdTrckr is a systemic version of our system that was made up of masking tape and spreadsheets.
    </p>
    <br />

    <h1 class="title">How does CrdTrckr work?</h1>
    <p>
        CrdTrckr works by having you input your cards.  Then it will send you an email to alert you to upcoming minimum spend deadlines and fees.  You can always manage your alerts in your profile, and we will never send you marketing emails.
    </p>
    <br />
    <h1 class="title">What else does CrdTrckr do?</h1>
    <p>
        CrdTrckr will suggest your next card based on preferences that you input from the beginning.  It will keep you on track to make the most of your points.
    </p>

{% endblock %}
