{% extends "base.html" %} {% block body %}

<div class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{url_for('index')}}">
                                <img src="/static/img/ct_logo.png" alt="CrdTrckr" />
                        </a>
    <div class="navbar-burger burger" data-target="main-nav">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="navbar-menu" id="main-nav">
    <div class="navbar-item is-hoverable">
      <a class="has-text-black" href="{{url_for('user_wallet') }}">Wallet</a>
    </div>
    <div class="navbar-item has-dropdown is-hoverable">
    <div class="navbar-item is-active">
      Cards
    </div>
      <div class="navbar-dropdown">
        <a class="navbar-item" href="{{url_for('search_cards')}}">Search Cards</a>
        <a class="navbar-item" href="">Points Programs</a>
        <a class="navbar-item" href="">Rewards Programs</a>
      </div>
    </div>
    <div class="navbar-item has-dropdown is-hoverable">
    <div class="navbar-item is-active">
      Profile
    </div>
      <div class="navbar-dropdown">
          <a class="navbar-item" href="{{ url_for('user_profile') }}">Profile</a>
        <a class="navbar-item" href="">Notifications</a>
        <a class="navbar-item" href="">Submitted Suggestions</a>
      </div>
    </div>
    <div class="navbar-item is-hoverable">
      <a class="has-text-black" href="{{ url_for('user_profile') }}">Articles</a>
    </div>
    <span class="navbar-end">
      {% if current_user.admin %}
    <div class="navbar-item is-hoverable">
        <a class="has-text-black" href="{{ url_for('admin') }}">Admin</a>
    </div>
    {% endif %}
    <div class="navbar-item is-hoverable">
        <a class="has-text-black" href="{{ url_for('logout') }}">Logout</a>
    </div>
  </span>

  </div>
</div>
<hr style="margin:.25rem 0 .25rem 0" />
{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
    <div class='notification is-primary'>
      {{ message }}
    </div>
    {% endfor %}
{% endif %}
{% endwith %}
<section class='section'>
  {% block content %}{% endblock %}
</section>
{% endblock %}
