{% extends "external_base.html" %} {% block content %}
<h1 class="title">Sign Up</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="field">
        <div class="field-body">
            <div class="field">
                <p class="control has-icons-left">
                    {{ form.username(placeholder="Username", class="input is-medium") }}
                    <span class="icon is-left">
                <i class="fa fa-user"></i>
            </span>
                </p>
            </div>
        </div>
    </div>
    {% for error in form.username.errors %}
    <span style="color: red;">[{{error}}]</span> {% endfor %}
    <div class="field">
        <div class="field-body">
            <div class="field">
                <p class="control has-icons-left">
                    {{ form.email(placeholder="Email", class="input is-medium") }}
                    <span class="icon is-left">
                    <i class="fa fa-envelope"></i>
                </span>
                </p>
            </div>
        </div>
    </div>
    <div class="field">
        <div class="field-body">
            <div class="field">
                <p class="control has-icons-left">
                    {{ form.password(placeholder="Password", class="input is-medium") }}
                    <span class="icon is-left">
          <i class="fa fa-lock"></i>
        </span>
                </p>
            </div>
        </div>
    </div>
    <div class="field">
        <div class="field-body">
            <div class="field">
                <p class="control has-icons-left">
                    {{ form.password2(placeholder="Confirm Password", class="input is-medium") }}
                    <span class="icon is-left">
          <i class="fa fa-lock"></i>
        </span>
                </p>
            </div>
        </div>
    </div>
    <div class="field">
        <div class="field-body">
            <div class="field">
                <p class="control">
                    <button class="button is-primary is-medium is-fullwidth">
              Signup
            </button>
                </p>
            </div>
        </div>
    </div>
    <div class="field">
        <div class="field-body">
            <div class="field">
                <p class="control">
                    <input type="checkbox"/>
                    <label class="checkbox">
                                  Remember me
                              </label>
                </p>
            </div>
        </div>
    </div>
</form>
<p>
    Already a Member? <a href="{{ url_for('login') }}">Log In Here</a>
</p>
{% endblock %}
