{% extends "internal_base.html" %} {% block content %}

<script>
  $(document).ready(function() {
    $('#accordion').accordion({
      collapsible: true,
      animate: 100
    });

    $('.ui-accordion-header-active > button').removeClass('is-outlined').addClass('is-primary');

    $('.accordion-title').on('click', function() {

      if ($(this).hasClass('is-primary')) {
        $(this).addClass('is-outlined').removeClass('is-primary');
      } else {
        $('.accordion-title').addClass('is-outlined').removeClass('is-primary');
        $(this).removeClass('is-outlined').addClass('is-primary');
      };
    });
  })
</script>

<div class="content">
  <h1>Welcome {{user.username}} this is your wallet</h1>
  <form action="" method="post">
  <div id="accordion">
    <div>
      <button type="button" class="button accordion-title is-outlined is-fullwidth">
      <span>Optimized Wallet:</span>
      <span class="icon">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </span>
    </div>
    <span>
      <br />
      <h3>Spot for Optimized wallet based on User active Cards</h3>
    {#
      {% for category in wallet %}
          <h5><a href="{{ url_for('card_profile', card_id=card.id) }}">{{card.company.name}} - {{card.name}}</a></h5>
      {% endfor %}
    #}
      <br />
    </span>
    <div>
      <button type="button" class="button accordion-title is-outlined is-fullwidth">
      <span>Current Cards ({{cards['active']|length}}):</span>
      <span class="icon">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </span>
    </div>
    <span>
      <br />
      {% for card in cards['active'] %}
        <div class="level">
          <span class="level-left"><h5 class="level-item title is-5">{{card.company.name}} - {{card.name}}</h5></span>
          <span class="level-right">
              <button class="level-item button is-small is-info" type="submit" name="apply" value="{{card.id}}" onClick="window.open('{{url_for('user_card', card_id=card.id)}}', '_blank')">Edit Card Info</button>
            <button class="level-item button is-small is-danger is-outlined" type="submit" name="remove" value="{{card.id}}">Remove</button>
          </span>
    </div>
    {% endfor %}
    <br />
    </span>
    <div>
      <button type="button" class="button accordion-title is-outlined is-fullwidth">
      <span>Suggested Cards ({{cards['suggested']|length}}):</span>
      <span class="icon">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </span>
    </div>
    <span>
      <br />
      {% for card in cards['suggested'] %}
        <div class="level">
          <span class="level-left"><h5 class="level-item title is-5">{{card.company.name}} - {{card.name}}</h5></span>
          <span class="level-right">
      <button class="level-item button is-small is-info" type="button" onClick="window.open('{{url_for('card_profile',card_id=card.id)}}', '_blank')">Card Details</button>
      <button class="level-item button is-small is-success is-outlined" type="submit" name="apply" value="{{card.id}}" onClick="window.open('{{card.apply_link_url}}', '_blank')">Apply For Card</button>
      </span>
    </div>
    {% endfor %}
    <br />
    </span>
    <div>
      <button type="button" class="button accordion-title is-outlined is-fullwidth">
      <span>Applied for Cards ({{cards['applied']|length}}):</span>
      <span class="icon">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </span>
    </div>
    <span>
      <br />
      {% for card in cards['applied'] %}
        <div class="level">
          <span class="level-left"><h5 class="level-item title is-5">{{card.company.name}} - {{card.name}}</h5></span>
          <span class="level-right">
            <button class="level-item button is-small is-success" type="submit" name="add" value="{{card.id}}">Add To Wallet</button>
      </span>
    </div>
    {% endfor %}
    <br />
    </span>
    <div>
      <button type="button" class="button accordion-title is-outlined is-fullwidth">
        <span>Cancelled Cards ({{cards['inactive']|length}}):</span>
        <span class="icon">
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </span>
      </div>
      <span>
        <br />
        {% for card in cards['inactive'] %}
        <div class="level">
          <span class="level-left"><h5 class="level-item title is-5">{{card.company.name}} - {{card.name}}</h5></span>
          <span class="level-right">
            <button class="level-item button is-small is-info" type="button" onClick="window.open('{{url_for('card_profile',card_id=card.id)}}', '_blank')">Card Details</button>
            <button class="level-item button is-small is-success is-outlined" type="submit" name="apply" value="{{card.id}}" onClick="window.open('{{card.apply_link_url}}', '_blank')">Reapply For Card</button> </span>
    </div>
    {% endfor %}
      <br />
  </form>
      </span>
      <div>
      </div>
    </div>
    {% endblock %}
