{% extends "internal_base.html" %}

{% block content %}
<div class="content">

  <h1>Hello {{ current_user.username}}, This is your Profile!!</h1>
  <h3>Change Username, Email Password</h3>
  <h3>Email Subs</h3>
  <ul>
    <li>New Cards</li>
    <li>Card Notifications</li>
    <li>Annual Fees</li>
  </ul>

  <button class="button is-info" type="button" onclick="location.href='{{ url_for('change_password') }}'">Change Password</button>
  <!-- <button class="button is-outlined is-primary" type="button" onclick="location.href='{{ url_for('user_preferences') }}'">Update Reward Preferences</button> -->

</div>
{% endblock %}
